# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Virtual Environment
env/
venv/
.venv/

# Editor / IDE
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

#maven
target/

# hide keys 
secrets.json
